extends layout

block content
  section(class="hero")
    div(class="hero-body")
      div(class="container")
        h1(class="title")=title
        h2(class="subtitle")=subtitle
        
  h4(class="title is-h4") Who I am

  div(class="columns")
    div(class="column")
      h4(class="title is-h4") I am James Tombleson, developer, and systems administrator
      p I am a Systems Administrator who found the love and joy of development.  I am a self-taught developer who started off by finding a way to automate software package installs around 2010.  When PowerShell came out I started to look into how to make code help make my life easier with more automation but now looking into automating server-side tasks.
      br
      p Over time I started to look into building applications and started to look into C#.  I started by making some small applications but now I do alot of automation programs with my current job.
    div(class="column")
      h4(class="title is-h4") What I do
      p Frontend
      p WindowsForms, WPF, Javascript, CSS, SASS
      br
      p Back-End
      p ASP.Net, Node.js, SysAdmin, MSSQL, NoSql
      br
      p Languages
      p C#, JavaScript, TypeScript, PowerShell