

doctype html
html
  head
    title= title
    meta(name="viewport", content="width=width=device-width, initial-scale=1")
    script(src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    section(class="section")
      div(class="containter")
        h1="Bulma Test"
        p(class="subtitle") this is a test?

      block content
